In [1]:
pip install XlsxWriter

Requirement already satisfied: XlsxWriter in /usr/local/lib/python3.9/site-packages (3.0.2)
WARNING: You are using pip version 21.1.3; however, version 21.3.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [31]:
import pandas as pd

In [32]:
df = pd.read_excel('/Users/mac/Desktop/自动化练习表格/工作簿1.xlsx', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10
0,费用报销单,NaN,NaN,结账单号,NaN,付款日期,开始时间,2019-08-10 00:00:00,结束时间,2019-08-21 00:00:00,NaN
1,事由,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,员工信息,NaN,NaN,职位,NaN,NaN,身份证号,NaN,NaN,NaN,NaN
3,姓名,李四,NaN,经历,NaN,NaN,员工ID,1,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,日期,账目,说明,酒店,交通费,油费,餐饮,电话,招待费,杂费,总计
6,2019-08-10 00:00:00,NaN,NaN,650,1900,NaN,240,NaN,NaN,NaN,2790
7,2019-08-21 00:00:00,NaN,NaN,NaN,NaN,NaN,365,NaN,120,NaN,485
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,总计,NaN,NaN,650,1900,0,605,0,120,0,3275

In [4]:
print('员工ID =',df1.iloc[3, 7])
print('姓名 =',df1.iloc[3, 1])
print('开始时间 =',df1.iloc[0, 7])
print('结束时间 =',df1.iloc[0, 9])

员工ID = 1
姓名 = 李四
开始时间 = 2019-08-10 00:00:00
结束时间 = 2019-08-21 00:00:00

In [5]:
# dt = df.iloc[0, 7]        .to_pydatetime()
# dt

In [6]:
row_total = df1.loc[df1[0] == '总计']
print('酒店 合计 =', row_total.iloc[0, 3])
print('交通 合计 =', row_total.iloc[0, 4])
print('油费 合计 =', row_total.iloc[0, 5])
print('餐饮费合计 =', row_total.iloc[0, 6])
print('电话 合计 =', row_total.iloc[0, 7])
print('招待费合计 =', row_total.iloc[0, 8])
print('杂费 合计 =', row_total.iloc[0, 9])
print('总    计 =', row_total.iloc[0, 10])

酒店 合计 = 650
交通 合计 = 1900
油费 合计 = 0
餐饮费合计 = 605
电话 合计 = 0
招待费合计 = 120
杂费 合计 = 0
总    计 = 3275

In [7]:
# iloc loc ix

In [8]:
df1 = pd.read_excel('/Users/mac/Desktop/自动化练习表格/工作簿1.xlsx',header=None)
total1 = df1.loc[df1[0] == '总计']

row1 = {}
row1['ID'] = df1.iloc[3, 7]
row1['姓名'] = df1.iloc[3, 1]
row1['开始日期'] = df1.iloc[0, 7]
row1['结束日期'] = df1.iloc[0, 9]
row1['酒店'] = total1.iloc[0, 3]
row1['交通'] = total1.iloc[0, 4]
row1['油费'] = total1.iloc[0, 5]
row1['餐饮'] = total1.iloc[0, 6]
row1['电话'] = total1.iloc[0, 7]
row1['招待费'] = total1.iloc[0, 8]
row1['杂项'] = total1.iloc[0, 9]
row1['总计'] = total1.iloc[0, 10]

In [9]:
df2 = pd.read_excel('/Users/mac/Desktop/自动化练习表格/工作簿2.xlsx', header=None)
total2 = df2.loc[df2[0] == '总计']

row2 = {}
row2['ID'] = df2.iloc[3, 7]
row2['姓名'] = df2.iloc[3, 1]
row2['开始日期'] = df2.iloc[0, 7]
row2['结束日期'] = df2.iloc[0, 9]
row2['酒店'] = total2.iloc[0, 3]
row2['交通'] = total2.iloc[0, 4]
row2['油费'] = total2.iloc[0, 5]
row2['餐饮'] = total2.iloc[0, 6]
row2['电话'] = total2.iloc[0, 7]
row2['招待费'] = total2.iloc[0, 8]
row2['杂项'] = total2.iloc[0, 9]
row2['总计'] = total2.iloc[0, 10]

In [10]:
df3 = pd.read_excel('/Users/mac/Desktop/自动化练习表格/工作簿3.xlsx', header=None)
total3 = df3.loc[df2[0] == '总计']

row3 = {}
row3['ID'] = df3.iloc[3, 7]
row3['姓名'] = df3.iloc[3, 1]
row3['开始日期'] = df3.iloc[0, 7]
row3['结束日期'] = df3.iloc[0, 9]
row3['酒店'] = total3.iloc[0, 3]
row3['交通'] = total3.iloc[0, 4]
row3['油费'] = total3.iloc[0, 5]
row3['餐饮'] = total3.iloc[0, 6]
row3['电话'] = total3.iloc[0, 7]
row3['招待费'] = total3.iloc[0, 8]
row3['杂项'] = total3.iloc[0, 9]
row3['总计'] = total3.iloc[0, 10]

In [11]:
df4 = pd.read_excel('/Users/mac/Desktop/自动化练习表格/工作簿4.xlsx', header=None)
total4 = df4.loc[df4[0] == '总计']

row4 = {}
row4['ID'] = df4.iloc[3, 7]
row4['姓名'] = df4.iloc[3, 1]
row4['开始日期'] = df4.iloc[0, 7]
row4['结束日期'] = df4.iloc[0, 9]
row4['酒店'] = total4.iloc[0, 3]
row4['交通'] = total4.iloc[0, 4]
row4['油费'] = total4.iloc[0, 5]
row4['餐饮'] = total4.iloc[0, 6]
row4['电话'] = total4.iloc[0, 7]
row4['招待费'] = total4.iloc[0, 8]
row4['杂项'] = total4.iloc[0, 9]
row4['总计'] = total4.iloc[0, 10]

In [12]:
print(row1, row2, row3, row4)

{'ID': 1, '姓名': '李四', '开始日期': datetime.datetime(2019, 8, 10, 0, 0), '结束日期': datetime.datetime(2019, 8, 21, 0, 0), '酒店': 650, '交通': 1900, '油费': 0, '餐饮': 605, '电话': 0, '招待费': 120, '杂项': 0, '总计': 3275} {'ID': 2, '姓名': '张三', '开始日期': datetime.datetime(2019, 8, 10, 0, 0), '结束日期': datetime.datetime(2019, 8, 21, 0, 0), '酒店': 348, '交通': 1345, '油费': 0, '餐饮': 112, '电话': 0, '招待费': 120, '杂项': 0, '总计': 1925} {'ID': 3, '姓名': '杨武', '开始日期': datetime.datetime(2019, 8, 10, 0, 0), '结束日期': datetime.datetime(2019, 8, 21, 0, 0), '酒店': 234, '交通': 1455, '油费': 0, '餐饮': 867, '电话': 456, '招待费': 252, '杂项': 0, '总计': 3264} {'ID': 4, '姓名': '王六', '开始日期': datetime.datetime(2019, 8, 10, 0, 0), '结束日期': datetime.datetime(2019, 8, 21, 0, 0), '酒店': 279, '交通': 333, '油费': 345, '餐饮': 240, '电话': 145, '招待费': 235, '杂项': 23, '总计': 1600}

In [13]:
df_all = pd.DataFrame([row1, row2, row3, row4])
df_all

   ID  姓名       开始日期       结束日期   酒店    交通   油费   餐饮   电话  招待费  杂项    总计
0   1  李四 2019-08-10 2019-08-21  650  1900    0  605    0  120   0  3275
1   2  张三 2019-08-10 2019-08-21  348  1345    0  112    0  120   0  1925
2   3  杨武 2019-08-10 2019-08-21  234  1455    0  867  456  252   0  3264
3   4  王六 2019-08-10 2019-08-21  279   333  345  240  145  235  23  1600

In [14]:
# writer1 = pd.ExcelWriter('/Users/mac/Desktop/自动化练习表格/工作簿1.xls', engine='xlwt')
# df_all.to_excel(writer1)                    
# writer1.save()

In [15]:
# writer2 = pd.ExcelWriter('/Users/mac/Desktop/自动化练习表格/工作簿2.xls', engine='xlwt')
# df_all.to_excel(writer2)   
# writer2.save()

In [16]:
A = [pd.ExcelWriter('/Users/mac/Desktop/自动化练习表格/工作簿1.xls', engine='xlwt'),
     pd.ExcelWriter('/Users/mac/Desktop/自动化练习表格/工作簿2.xls', engine='xlwt'),   
     pd.ExcelWriter('/Users/mac/Desktop/自动化练习表格/工作簿3.xls', engine='xlwt'),
     pd.ExcelWriter('/Users/mac/Desktop/自动化练习表格/工作簿4.xls', engine='xlwt')]

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3361: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  if (await self.run_code(code, result,  async_=asy)):

In [17]:
for x in A:
    df_all.to_excel(x)
    x.save()

In [18]:
# pathlib

In [19]:
CWD = './Desktop/自动化练习表格'

In [20]:
from pathlib import Path

p = Path(CWD)

In [21]:
p.exists()

True

In [22]:
p.is_dir()

True

In [23]:
print(type(p))

<class 'pathlib.PosixPath'>

In [24]:
list(p.glob('*'))

[PosixPath('Desktop/自动化练习表格/.ipynb_checkpoints'),
 PosixPath('Desktop/自动化练习表格/工作簿1.xls'),
 PosixPath('Desktop/自动化练习表格/工作簿1.xlsx'),
 PosixPath('Desktop/自动化练习表格/工作簿2.xls'),
 PosixPath('Desktop/自动化练习表格/工作簿2.xlsx'),
 PosixPath('Desktop/自动化练习表格/工作簿3.xls'),
 PosixPath('Desktop/自动化练习表格/工作簿3.xlsx'),
 PosixPath('Desktop/自动化练习表格/工作簿4.xls'),
 PosixPath('Desktop/自动化练习表格/工作簿4.xlsx')]

In [25]:
list(p.glob('**/[!All]*.xlsx'))

[PosixPath('Desktop/自动化练习表格/工作簿1.xlsx'),
 PosixPath('Desktop/自动化练习表格/工作簿2.xlsx'),
 PosixPath('Desktop/自动化练习表格/工作簿3.xlsx'),
 PosixPath('Desktop/自动化练习表格/工作簿4.xlsx')]

In [28]:
for q in p.glob('**/[!All]*.xlsx'):
    print(q.name)

工作簿1.xlsx
工作簿2.xlsx
工作簿3.xlsx
工作簿4.xlsx

In [30]:
# smtplib email 不用安装，python自带，需要import

# SendGrid Mailgun AWS SES   SMTP

In [39]:
from pathlib import Path

def read_excel_data(path):
    df = pd.read_excel(path, header=None)
    row = {}
    row['ID'] = df.iloc[3, 7]
    row['姓名'] = df.iloc[3, 1]
    row['开始日期'] = df.iloc[0, 7]
    row['结束日期'] = df.iloc[0, 9]
    total = df.loc[df[0] == '总计']
    row['酒店'] = total.iloc[0, 3]
    row['交通'] = total.iloc[0, 4]
    row['油费'] = total.iloc[0, 5]
    row['餐饮'] = total.iloc[0, 6]
    row['电话'] = total.iloc[0, 7]
    row['招待费'] = total.iloc[0, 8]
    row['杂项'] = total.iloc[0, 9]
    row['总计'] = total.iloc[0, 10]
    return row

def main():
    CWD = './Desktop/自动化练习表格'
    
    p = Path(CWD)
    rows = []
    for q in p.glob('**/[!All]*.xlsx'):
        rows.append(read_excel_data(q))
    df = pd.DataFrame(rows)
    writer = pd.ExcelWriter(p/'All.xls',engine='xlwt')
    df.to_excel(writer)
    writer.save()
    
if __name__ == '__main__':
    main()

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  exec(code_obj, self.user_global_ns, self.user_ns)